<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Nick_name')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-nick_name" class="form-control" name="row[nick_name]" type="text" value="">-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Parent_member')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-parent_member" class="form-control" name="row[parent_member]" type="text" >
        </div>
    </div>
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Head_image')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<div class="input-group">-->
    <!--<input id="c-head_image" class="form-control" size="50" name="row[head_image]" type="text" value="">-->
    <!--<div class="input-group-addon no-border no-padding">-->
    <!--<span><button type="button" id="faupload-head_image" class="btn btn-danger faupload" data-input-id="c-head_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-head_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>-->
    <!--<span><button type="button" id="fachoose-head_image" class="btn btn-primary fachoose" data-input-id="c-head_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>-->
    <!--</div>-->
    <!--<span class="msg-box n-right" for="c-head_image"></span>-->
    <!--</div>-->
    <!--<ul class="row list-inline faupload-preview" id="p-head_image"></ul>-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" class="form-control" name="row[phone]" type="text" value="">
        </div>
    </div>
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Pid')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-pid" class="form-control" name="row[pid]" type="number" value="0">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Upid')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-upid" class="form-control" name="row[upid]" type="number" value="0">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Rank_id')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-rank_id" data-rule="required" data-source="rank/index" class="form-control selectpage" name="row[rank_id]" type="text" value="">-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Role_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-role_id" data-rule="required" data-source="role/index" class="form-control selectpage" name="row[role_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-password" class="form-control" name="row[password]" type="text">
        </div>
    </div>
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Salt')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-salt" class="form-control" name="row[salt]" type="text">-->
    <!--</div>-->
    <!--</div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_password')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-pay_password" class="form-control" name="row[pay_password]" type="text" value="">-->
<!--        </div>-->
<!--    </div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Pay_salt')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-pay_salt" class="form-control" name="row[pay_salt]" type="text" value="">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Uuid')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-uuid" class="form-control" name="row[uuid]" type="text">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Total_direct')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-total_direct" class="form-control" name="row[total_direct]" type="number" value="0">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Group_person_count')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-group_person_count" class="form-control" name="row[group_person_count]" type="number" value="0">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('App_token')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-app_token" class="form-control" name="row[app_token]" type="text" value="">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Login_time')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-login_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[login_time]" type="text" value="{:date('Y-m-d H:i:s')}">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-create_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{:date('Y-m-d H:i:s')}">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Is_del')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!---->
    <!--<select  id="c-is_del" class="form-control selectpicker" name="row[is_del]">-->
    <!--{foreach name="isDelList" item="vo"}-->
    <!--<option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>-->
    <!--{/foreach}-->
    <!--</select>-->

    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Remittance_number')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-remittance_number" class="form-control" name="row[remittance_number]" type="number" value="0">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Remittance_money')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-remittance_money" class="form-control" step="0.01" name="row[remittance_money]" type="number" value="0.00">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Draw_money')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-draw_money" class="form-control" step="0.01" name="row[draw_money]" type="number" value="0.00">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Draw_number')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-draw_number" class="form-control" name="row[draw_number]" type="number" value="0">-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
